.ProductoDetalle {
  display: flex;
  width: calc(100% - 150);
  padding: 0 75px;
  gap: 40px;
}
.ProductoDetalle > img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
.ProductoInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ProductoTitulo > h2 {
  font-size: 30px;
  color: brown;
}
.ProductoTitulo > p {
  font-size: 15px;
  font-weight: 600;
  color: brown;
  padding-top: 15px;
}
.ProductoTitulo > span {
  font-size: 15px;
  font-weight: 600;
  color: brown;
}
.Contador {
  display: flex;
}
.BotonesCotador > button {
  color: blue;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 10px;
  justify-content: center;
  cursor: pointer;
}

.BotonesCotador > span {
  padding: 5px;
}
.BotonesCotador > button:hover {
  background-color: rgba(255, 0, 0, 0.26);
}
.botonAgregar {
  margin-left: 10px;
}
